<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrarUsuario</servlet-name>
        <servlet-class>Servlet.registrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarHelado</servlet-name>
        <servlet-class>Servlet.agregarHelado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarHelado</servlet-name>
        <servlet-class>Modelo.BorrarHelado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarHelado</servlet-name>
        <servlet-class>Servlet.actualizarHelado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprarHelado</servlet-name>
        <servlet-class>Servlet.comprarHelado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarDelCarrito</servlet-name>
        <servlet-class>Servlet.BorrarDelCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarUsuario</servlet-name>
        <url-pattern>/registrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarHelado</servlet-name>
        <url-pattern>/agregarHelado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarHelado</servlet-name>
        <url-pattern>/BorrarHelado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarHelado</servlet-name>
        <url-pattern>/actualizarHelado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprarHelado</servlet-name>
        <url-pattern>/comprarHelado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarDelCarrito</servlet-name>
        <url-pattern>/BorrarDelCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
